@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-green-dark: #0F4C3A;
  --brand-green-light: #D4F1E6;
  --brand-white: #FFFFFF;
  --font-main: 'Poppins', sans-serif;
}

@layer base {
  
  html, body {
    font-family: var(--font-main);
    @apply text-gray-900 antialiased;
  }

  button, input, textarea, select {
    font-family: inherit;
  }
}